<%- include('../partials/header') %>
<%- include('../partials/nav') %>

<h2>Flight Details</h2>
<ul>
    <li>Flight Number: <%= flight.flightNo %></li>
    <li>Airline: <%= flight.airline %></li>
    <li>Airport: <%= flight.airport %></li>
    <li>Departs: <%=flight.departs %></li>
</ul>

Destinations:
<ul>
    <% sortedDestinations.forEach(function(d) { %>
    <li><%= d.airport %> | <%= d.arrival %>
        <form id="delete-destination-form" action="/flights/<%= flight._id %>/destinations/<%= d._id%>?_method=DELETE" method="POST">
            <button type="submit">Delete</button>
        </form>
    </li>
     
    <% }); %>
</ul>

<form id="new-destination-form" action="/flights/<%= flight._id %>/destinations" method="POST">
    <h3>Add Destination</h3>
    <label for="airport">Airport</label>
    <select name="airport">
        <% approvedAirports.forEach(function(a){
           if(flight.destinations.findIndex(d => d.airport === a) < 0) { %>
               <option value="<%= a %>"><%= a %></option>
           <% }
        }); %>
    </select>
    <label for="arrival">Arrival Date / Time</label>
    <input name="arrival" type="datetime-local">
    <input type="submit" value="Add Destination">
</form>
<%- include('../partials/footer') %>